<h3 class="ui-bar ui-bar-a ui-corner-none"><%= @team.formalname %></h3>
<figure id="pictogram">
  <%= image_tag("pictograms/svg/#{@team.sport.imageurl}.svg", alt: @team.sport.name, style: "height: 80px;") %>
</figure>
<ul data-role="listview" data-inset="true">
  <% if !@team.url.blank? %> 
    <li><a data-rel="external" href="<%= sprintf("%s", @team.url) %>">Team Web Site<p><%= @team.url %></p></a></li>
  <% end %>
</ul>
  <!--  Team Coaching Staff -->
  <div data-role="collapsible-set" data-inset="true">
      <div data-role="collapsible" data-collapsed="true" data-iconpos="right" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
        <% events = Event.where(:teamid => @team.id).order(:eventdate, :eventtime) %>
        <h3 class="ui-bar ui-bar-a ui-corner-none">Schedule<span class="ui-li-count-fix ui-li-count"><%= events.count %></span></h3>
        <% if events.count > 0 %>
        <ul data-role="listview" data-inset="true">
          <% events.each do |event| %>
<% logger.info event.to_yaml %>
            <% venue = Venue.find_by(:id => event.venueid) %>
            <% opponent = Opponent.find_by(:id => event.opponentid) %>
            <li><%= link_to sprintf("<img src=\"%s\" alt=\"%s\"><h2>%s</h2><p>%s at %s</p>",
              image_url("pictograms/svg/#{@team.sport.imageurl}.svg"), @team.sport.name,
              opponent.name, event.datetime, venue.name).html_safe, event %><span class="ui-li-count-fix ui-li-count"><%= event.eventlocation.camelize[0] %> / <%= opponent.conferenceopponent ? "C" : "N" %></span></li>
          <% end %>
        </ul>
        <% else %>
          <p>No events scheduled.</p>
        <% end %>
      </div>
      <div data-role="collapsible" data-collapsed="true" data-iconpos="right" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
        <h3 class="ui-bar ui-bar-a ui-corner-none">Coaching Staff<span class="ui-li-count-fix ui-li-count"><%= @team.coaches.count %></span></h3>
        <% if @team.coaches.count > 0 %>
        <ul data-role="listview" data-inset="false" data-filter="false" data-mini="false">
          <% coaches = @team.coaches.sort_by { |c| [ c.lastname, c.firstname ] } %>
          <% coaches.each do |c| %>
            <% hc = CoachesTeam.find_by(:coach_id => c.id, :team_id => @team.id) %>
            <li><%= link_to(c.lastcommafirst, c) %><span class="ui-li-aside"><%= hc.headcoach ? "Head Coach" : "" %></span></li>
          <% end %>
        </ul>
        <% else %>
        <p>No coaches currently on staff.</p>
        <% end %>
      </div>
    <!--</div>-->
  <!--  Team Athlete Roster -->
    <!--<div data-role="collapsible-set" data-inset="true" data-mini="false">-->
      <div data-role="collapsible" data-collapsed="true" data-iconpos="right" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
        <h3 class="ui-bar ui-bar-a ui-corner-none">Roster<span class="ui-li-count-fix ui-li-count"><%= @team.athletes.count %></span></h3>
        <% if @team.athletes.count > 0 %>
        <%#= @team.athletes.collect {|c| link_to(c.fullname, c)}.join(", ").html_safe %>
        <ul data-role="listview" data-inset="false" data-filter="true" data-autodividers="true">
          <% athletes = @team.athletes.sort_by { |a| [ a.lastname, a.firstname ] } %>
          <% athletes.each do |a| %>
            <% tc = AthletesTeam.find_by(:athlete_id => a.id, :team_id => @team.id) %>
            <% notes = tc.captain ? "Captain" : "" %>
            <% if !tc.position.blank? %>
                <% notes = sprintf("%s%s%s", notes, notes.blank? ? "" : " / ", tc.position) %>
            <% end %>
            <% if !tc.jerseynumber.blank? %>
                <% notes = sprintf("%s%s#%s", notes, notes.blank? ? "" : " / ", tc.jerseynumber) %>
            <% end %>
            <li><%= link_to(sprintf("%s<p>%s</p>", a.lastcommafirst, notes).html_safe, a) %></li>
          <% end %>
        </ul>
        <% else %>
        <p>No athletes currently on roster.</p>
        <% end %>
      </div>
    <!--</div>-->
 <!--  Team Athlete Roster -->
    <!--<div data-role="collapsible-set" data-inset="true" data-mini="false">-->
<% if Settings.Twitter.Enabled == "Yes" && !@team.twitter.blank? %>
  <% @TwitterClient.user(@team.twitter.delete("@")) %>
  <% @tweets = @TwitterClient.user_timeline(@team.twitter.delete("@"))[0..2] %>
      <div data-role="collapsible" data-collapsed="false" data-iconpos="right" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
        <h3 class="ui-bar ui-bar-a ui-corner-none"><%= @team.formalname %> on Twitter</span></h3>
    <% @tweets.each do |tweet| %>
      <div class="ui-body ui-body-a" data-mini="true">
      <%= link_to(sprintf("<h4>@%s</h4><p>%s</p>", tweet.user.screen_name, auto_link_with_json(tweet.text, tweet.to_hash[:entities])).html_safe, "https://www.twitter.com/#{tweet.user.screen_name}") %>
      </div>
    <% end %>

      </div>
    </div>
<% end %>


<!--  Team Twitter Feed -->
<% if 0 == 1 %>
<% if !@team.twitter.blank? %>
  <% @TwitterClient.user(@team.twitter.delete("@")) %>
  <% @tweets = @TwitterClient.user_timeline(@team.twitter.delete("@"))[0..2] %>
  <ul data-role="listview" data-inset="true">
    <li data-role="list-divider"><%= @team.formalname %> on Twitter</li>
    <% @tweets.each do |tweet| %>
      <li><%= link_to(sprintf("@%s<p>%s</p>", tweet.user.screen_name, tweet.text).html_safe, "https://www.twitter.com/#{tweet.user.screen_name}") %></li>
      <li><%= link_to(sprintf("@%s<p>%s</p>", tweet.user.screen_name, auto_link_with_json(tweet.text, tweet.to_hash[:entities])).html_safe, "https://www.twitter.com/#{tweet.user.screen_name}") %></li>
    <% end %>
  </ul>
<% end %>
<% end %>

<% if 0 == 1 %>
<% if !@team.twitter.blank? %>
<div data-role="content">
  <% @TwitterClient.user(@team.twitter.delete("@")) %>
  <% @tweets = @TwitterClient.user_timeline(@team.twitter.delete("@"))[0..2] %>
  <div class="ui-corner-all custom-corners" data-inset="true">
    <div class="ui-bar ui-bar-a" data-mini="true">
      <h3><%= @team.formalname %> on Twitter</h3>
    </div>
    <% @tweets.each do |tweet| %>
      <div class="ui-body ui-body-a" data-mini="true">
      <%= link_to(sprintf("<h4>@%s</h4><p>%s</p>", tweet.user.screen_name, auto_link_with_json(tweet.text, tweet.to_hash[:entities])).html_safe, "https://www.twitter.com/#{tweet.user.screen_name}") %>
      </div>
    <% end %>
  </div>
</div>
<% end %>
<% end %>


<div data-role="controlgroup" data-type="horizontal">
  <%= link_to 'Back to Teams', teams_path, :'data-role' => 'button', :'data-icon' => "back", :'data-inline' => "true" %>
  <%#= link_to 'Edit', edit_team_path(@team), :'data-role' => 'button', :'data-icon' => "edit", :'data-inline' => "true" %>
</div>
