<% render 'events/event_li' %>
<!-- Splash Banner -->
<% splash = ACCMobileWebApp::Application::SPLASHADS.sample %>
<%# logger.info(splash[:img]) %>
<%# logger.info(splash[:img][-3,3]) %>
<div class="ui-content center-wrapper splash-content-<%= splash[:img][-3,3] %>" id="splash-content">
 <a href="<%= splash[:url] %>" alt="<%= splash[:name] %>"><img src="<%= image_url(splash[:img]) %>"></a>
</div>
<!-- /Splash Banner -->



<% seasons = { 'fall' => "fall icon", 'winter' => 'winter icon', 'spring' => 'spring icon' } %>
<div data-role="collapsible-set" data-inset="true">

      <div data-role="collapsible" data-collapsed="false" data-iconpos="right" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
        <% events = Event.where(:eventdate => Time.now.strftime("%Y-%m-%d")).order(:eventdate, :eventtime) %>
        <% events = Event.where(:eventdate => Date.today).order(:eventdate, :eventtime) %>
        <h3 class="ui-bar ui-bar-a ui-corner-none">Today's Schedule<span class="ui-li-count-fix ui-li-count"><%= events.count %></span></h3>
        <% if events.count > 0 %>
        <ul data-role="listview" data-inset="true">
          <% events.each do |event| %>
            <%= EventOverviewLI(event) %>
          <% end %>
        </ul>
        <% else %>
          <p>No events scheduled.</p>
        <% end %>
      </div>

      <div data-role="collapsible" data-collapsed="true" data-iconpos="right" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
        <% events = Event.where(:eventdate => Time.now.strftime("%Y-%m-%d")).order(:eventdate, :eventtime) %>
        <% thisweek = Date.today.beginning_of_week(:sunday)..Date.today.end_of_week(:sunday) %>
        <% events = Event.where(eventdate: thisweek).order(:eventdate, :eventtime) %>
        <h3 class="ui-bar ui-bar-a ui-corner-none">This Week's Schedule<span class="ui-li-count-fix ui-li-count"><%= events.count %></span></h3>
        <% if events.count > 0 %>
        <ul data-role="listview" data-inset="true">
          <% events.each do |event| %>
            <%= EventOverviewLI(event) %>
          <% end %>
        </ul>
        <% else %>
          <p>No events scheduled.</p>
        <% end %>
      </div>

  <% seasons.each do |key, value| %>
    <div data-role="collapsible" data-collapsed="true" data-iconpos="right" data-inset="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
      <%# @teams = Team.where(:season => key).order(:gender, :varsity) %>
      <% @teams = Team.where(:season => key).sort { |a,b| a.sportname <=> b.sportname } %>
      <h3 class="collapsible-fix"><%= key.camelize %> Sports<span class="ui-li-count-fix ui-li-count"><%= @teams.count %></span></h3>
      <% if @teams.count > 0 %>
      <ul data-role="listview" data-inset="true" data-filter="false">
        <% @teams.each do |team| %>
          <li><%= link_to team.sportname, team %></li>
        <% end %>
      </ul>
      <% else %>
        <p>No teams for <%= key.camelize %> season.</p>
      <% end %>
    </div>
  <% end %>
</div>

<%
#client = Twitter::REST::Client.new do |config|
#  config.consumer_key = ENV["TWITTER_CONSUMER_KEY"]
#  #config.consumer_key = Settings.Twitter.ConsumerKey
#  config.consumer_secret = ENV["TWITTER_CONSUMER_SECRET"]
#  #config.consumer_secret = Settings.Twitter.ConsumerSecret
#  config.oauth_token = ENV["TWITTER_OAUTH_TOKEN"]
#  #config.oauth_token = Settings.Twitter.AccessToken
#  config.oauth_token_secret = ENV["TWITTER_OAUTH_TOKEN_SECRET"]
#  #config.oauth_token_secret = Settings.Twitter.AccessTokenSecret
#end
#
#client.user(Settings.Twitter.Username)
#logger.debug "\n\t " + client.current_user.to_yaml + "\n\n"
%>


<% if Settings.Twitter.Enabled == "Yes" %>
<% @TwitterClient.user(Settings.Twitter.Username) %>
<% @tweets = @TwitterClient.user_timeline[0..2] %>
<section id="tweets">
<!--<div data-role="content">-->
  <ul data-role="listview" data-inset="true">
    <li data-role="list-divider"><%= @TwitterClient.user.name %> on Twitter</li>
    <% @tweets.each do |tweet| %>
<% debug tweet %>
      <li><%= link_to(sprintf("@%s<p>%s</p>", tweet.user.screen_name, tweet.text).html_safe, "https://www.twitter.com/#{tweet.user.screen_name}") %></li>

    <% end %>
  </ul>
<!--</div>-->
</section>
<% end %>

<!-- Splash Banner -->
<script type="text/javascript">
  $( document ).on( "pagecreate", function( event ) {
  setTimeout( "$('#splash-content').fadeOut(4000);",5000 );
});
</script>
<!-- /Splash Banner -->
