<!--
<h3>Welcome</h3>
<p><%#= link_to 'Users:', users_path %> <%= User.count %> registered</p>
<p>Some content goes here.</p>
-->

<!-- Splash Banner -->
<% splash = ACCMobileWebApp::Application::SPLASHADS.sample %>
<%# logger.info(splash[:img]) %>
<%# logger.info(splash[:img][-3,3]) %>
<div class="ui-content center-wrapper splash-content-<%= splash[:img][-3,3] %>" id="splash-content">
 <a href="<%= splash[:url] %>" alt="<%= splash[:name] %>"><img src="<%= image_url(splash[:img]) %>"></a>
</div>
<!-- /Splash Banner -->



<% seasons = { 'fall' => "fall icon", 'winter' => 'winter icon', 'spring' => 'spring icon' } %>
<div data-role="collapsible-set" data-inset="true">

      <div data-role="collapsible" data-collapsed="false" data-iconpos="right" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
        <% events = Event.where(:eventdate => Time.now.strftime("%Y-%m-%d")).order(:eventdate, :eventtime) %>
        <% events = Event.where(:eventdate => Date.today).order(:eventdate, :eventtime) %>
        <h3 class="ui-bar ui-bar-a ui-corner-none">Today's Schedule<span class="ui-li-count-fix ui-li-count"><%= events.count %></span></h3>
        <% if events.count > 0 %>
        <ul data-role="listview" data-inset="true">
          <% events.each do |event| %>
            <%= EventOverviewLI(event) %>
          <% end %>
        </ul>
        <% else %>
          <p>No events scheduled.</p>
        <% end %>
      </div>

      <div data-role="collapsible" data-collapsed="true" data-iconpos="right" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
        <% events = Event.where(:eventdate => Time.now.strftime("%Y-%m-%d")).order(:eventdate, :eventtime) %>
        <% thisweek = Date.today.beginning_of_week(:sunday)..Date.today.end_of_week(:sunday) %>
        <% events = Event.where(eventdate: thisweek).order(:eventdate, :eventtime) %>
        <h3 class="ui-bar ui-bar-a ui-corner-none">This Week's Schedule<span class="ui-li-count-fix ui-li-count"><%= events.count %></span></h3>
        <% if events.count > 0 %>
        <ul data-role="listview" data-inset="true">
          <% events.each do |event| %>
            <%= EventOverviewLI(event) %>
          <% end %>
        </ul>
        <% else %>
          <p>No events scheduled.</p>
        <% end %>
      </div>

  <% seasons.each do |key, value| %>
    <div data-role="collapsible" data-collapsed="true" data-iconpos="right" data-inset="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
      <% @teams = Team.where(:season => key).order(:gender, :varsity) %>
      <h3 class="collapsible-fix"><%= key.camelize %> Sports<span class="ui-li-count-fix ui-li-count"><%= @teams.count %></span></h3>
      <% if @teams.count > 0 %>
      <ul data-role="listview" data-inset="true" data-filter="false">
        <% @teams.each do |team| %>
          <li><%= link_to team.formalname, team %></li>
        <% end %>
      </ul>
      <% else %>
        <p>No teams for <%= key.camelize %> season.</p>
      <% end %>
    </div>
  <% end %>
</div>

<%
#client = Twitter::REST::Client.new do |config|
#  config.consumer_key = ENV["TWITTER_CONSUMER_KEY"]
#  #config.consumer_key = Settings.Twitter.ConsumerKey
#  config.consumer_secret = ENV["TWITTER_CONSUMER_SECRET"]
#  #config.consumer_secret = Settings.Twitter.ConsumerSecret
#  config.oauth_token = ENV["TWITTER_OAUTH_TOKEN"]
#  #config.oauth_token = Settings.Twitter.AccessToken
#  config.oauth_token_secret = ENV["TWITTER_OAUTH_TOKEN_SECRET"]
#  #config.oauth_token_secret = Settings.Twitter.AccessTokenSecret
#end
#
#client.user(Settings.Twitter.Username)
#logger.debug "\n\t " + client.current_user.to_yaml + "\n\n"
%>


<% if Settings.Twitter.Enabled == "Yes" %>
<% @TwitterClient.user(Settings.Twitter.Username) %>
<% @tweets = @TwitterClient.user_timeline[0..2] %>
<section id="tweets">
<!--<div data-role="content">-->
  <ul data-role="listview" data-inset="true">
    <li data-role="list-divider"><%= @TwitterClient.user.name %> on Twitter</li>
    <% @tweets.each do |tweet| %>
<% debug tweet %>
      <li><%= link_to(sprintf("@%s<p>%s</p>", tweet.user.screen_name, tweet.text).html_safe, "https://www.twitter.com/#{tweet.user.screen_name}") %></li>

    <% end %>
  </ul>
<!--</div>-->
</section>
<% end %>

<!-- Splash Banner -->
<script type="text/javascript">
  $( document ).on( "pagecreate", function( event ) {
  setTimeout( "$('#splash-content').fadeOut(4000);",5000 );
});
</script>
<!-- /Splash Banner -->
<%
  ##  Generic event, not connected to a team?
  ##  Multi-team event?  Lots of possible scenarios ...
  def EventTitle(event, team, opponent)
    title = subtitle = ""
    if event.teamid.blank?
      title = event.description.blank? ? "N/A" : event.description
    elsif event.opponentid.blank? && event.opponents.count != 1
      title = "#{team.formalname} #{event.description}"
    elsif !event.opponentid.blank?
      title = "#{team.formalname} vs #{opponent.name}"
      subtitle = event.description unless event.description.nil?
    elsif !event.description.blank?
      title = event.description unless event.description.nil?
    else
      title = "None"
    end
    return title.strip, subtitle.strip
  end

  ##  Construct the event content based on presence of opponents
  def EventOverviewLI(event)
    venue = Venue.find_by(:id => event.venueid)
    team = event.teamid.blank? ? nil : Team.find_by(:id => event.teamid)
    opponent = event.opponentid.blank? ? nil : Opponent.find_by(:id => event.opponentid)
    status = event.status.blank? || event.status == 'scheduled' ? "" :
      sprintf("<span class=\"event-%s\">%s</span><br />", event.status, event.status.camelize)

    title, subtitle = EventTitle(event, team, opponent)
    if team.nil?
      span = sprintf("<span class=\"ui-li-count-fix ui-li-count\">%s</span>",
        event.eventlocation.camelize[0])
      li = sprintf("<li>%s%s</li>",
        link_to(sprintf("<img src=\"%s\" alt=\"%s\"><h2>%s</h2><p>%s%s at %s</p>",
        image_url("pictograms/svg/Information-Blk.svg"),
        "Information", title, status, event.datetime,
        venue.name).html_safe, event), span)
    elsif event.opponentid.blank?
      span = sprintf("<span class=\"ui-li-count-fix ui-li-count\">%s</span>",
        event.eventlocation.camelize[0])
      li = sprintf("<li>%s%s</li>",
        link_to(sprintf("<img src=\"%s\" alt=\"%s\"><h2>%s</h2><p>%s%s at %s</p>",
        image_url("pictograms/svg/#{team.sport.imageurl}.svg"),
        team.sport.name, team.formalname, status, event.datetime,
        venue.name).html_safe, event), span)
    else
      span = sprintf("<span class=\"ui-li-count-fix ui-li-count\">%s / %s</span>",
        event.eventlocation.camelize[0], opponent.conferenceopponent ? "C" : "N")
      li = sprintf("<li>%s%s</li>",
        link_to(sprintf("<img src=\"%s\" alt=\"%s\"><h2>%s vs %s</h2><p>%s%s at %s</p>",
        image_url("pictograms/svg/#{team.sport.imageurl}.svg"),
        team.sport.name, team.formalname, opponent.name, status, event.datetime,
        venue.name).html_safe, event), span)
     end

     return li.html_safe
  end
%>
