<!--
<h3>Welcome</h3>
<p><%#= link_to 'Users:', users_path %> <%= User.count %> registered</p>
<p>Some content goes here.</p>
-->

<!-- Splash Banner -->
<div class="ui-content" id="splash-content">
 <% splash = ACCMobileWebApp::Application::SPLASHADS.sample %>
 <a href="<%= splash[:url] %>" alt="<%= splash[:name] %>"><img src="<%= image_url(splash[:img]) %>"></a>
</div>
<!-- /Splash Banner -->


<% seasons = { 'fall' => "fall icon", 'winter' => 'winter icon', 'spring' => 'spring icon' } %>
<div data-role="collapsible-set" data-inset="true">
  <% seasons.each do |key, value| %>
    <div data-role="collapsible" data-collapsed="true" data-iconpos="right" data-inset="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
      <% @teams = Team.where(:season => key) %>
      <h3 class="collapsible-fix"><%= key.camelize %> Sports<span class="ui-li-count-fix ui-li-count"><%= @teams.count %></span></h3>
      <ul data-role="listview" data-inset="true" data-filter="false">
        <% @teams.each do |team| %>
          <li><%= link_to team.formalname, team %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<!-- Splash Banner -->
<script type="text/javascript">
  $( document ).on( "pagecreate", function( event ) {
  setTimeout( "$('#splash-content').fadeOut(4000);",5000 );
});
</script>
<!-- /Splash Banner -->
