<h3 class="ui-bar ui-bar-a ui-corner-none">Sports</h3>

<ul data-role="listview" data-inset="true" data-filter="true" data-autodividers="true">
  <% @sports.each do |sport| %>
    <li><%= link_to sport.name, sport %></li>
  <% end %>
</ul>

<h3 class="ui-bar ui-bar-a ui-corner-none">Sports Administration</h3>

<div data-role="collapsible-set" data-autodividers="true">
    <% @sports.each do |sport| %>
<div data-role="collapsible" data-collapsed="true" data-iconpos="right" data-mini="true">
  <h3><%= h sport.name %></h3>
         <%= link_to 'Edit', edit_sport_path(sport), :'data-role' => 'button', :'data-icon' => 'edit', :'data-inline' => "true", :'data-mini' => "true" %>
         <%= link_to 'Delete', sport, :'data-role' => 'button', :'data-icon' => 'delete', :'data-inline' => "true", method: :delete, data: { confirm: 'Are you sure?' }, :'data-mini' => "true" %>
</div>
    <% end %>
</div>

<div data-role="controlgroup" data-type="horizontal">
  <%= link_to 'New Sport', new_sport_path, :'data-role' => "button", :'data-icon' => "plus", :'data-inline' => "true" %>
</div>
