<p id="notice"><%= notice %></p>

<h3 class="ui-bar ui-bar-a ui-corner-none"><%= @sport.name %></h3>

<figure id="pictogram">
  <%= image_tag(@sport.imageurl, alt: @sport.name) %>
</figure>

<ul data-role="listview" data-inset="true" data-filter="false">
  <% @teams = Team.where(:sport_id => @sport.id) %>
  <% @teams.each do |team| %>
    <li><%= link_to team.formalname, team %></li>
  <% end %>
  <%#= content_tag(:li, fa_icon("check", text: "Bulleted list item")) %>
</ul>


<div data-role="controlgroup" data-type="horizontal">
  <%= link_to 'Back to Sports', sports_path, :'data-role' => "button", :'data-icon' => "back", :'data-inline' => "true", :'data-inline' => "true" %>
  <%= link_to 'Edit Sport', edit_sport_path(@sport), :'data-role' => "button", :'data-icon' => "edit", :'data-inline' => "true", :'data-inline' => "true" %>
</div>

