<h3 class="ui-bar ui-bar-a ui-corner-none">Team Coaches</h3>

<div data-role="collapsible-set" data-autodividers="true" data-mini="true" data-collapsed-icon="carat-r" data-expanded-icon="carat-d">
    <% tid = nil %>
    <% @coaches_teams.each do |ct| %>
      <% if !tid.nil? && tid != ct.team.id %>
          </div>
        </div>
      <% end %>
      <% if tid != ct.team.id %>
        <div data-role="collapsible" data-mini="true" data-inset="true">
          <h3><%= ct.team.formalname %></h3>
          <div data-role="collapsible-set" data-mini="true" data-collapsed-icon="carat-r" data-expanded-icon="carat-d">
      <% end %> 
      <div data-role="collapsible" data-collapsed="true" data-inset="true">
        <h1><%= ct.coach.fullname %></h1>
        <% if current_user.try(:admin?) %>
          <div class="ui-grid-b">
            <div class="ui-block-a"><%= link_to 'Show', ct, :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-eye ui-mini" %></div>
            <div class="ui-block-b"><%= link_to 'Edit', edit_coaches_team_path(ct), :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-edit ui-mini"%></div>
            <div class="ui-block-c"><%= link_to 'Destroy', ct, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-delete ui-mini"%></div>
          </div>
        <% else %>
          <div class="ui-grid-a">
            <div class="ui-block-a"><%= link_to 'Show', ct, :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-eye ui-mini" %></div>
          </div>
        <% end %>
      </div>
      <% tid = ct.team.id %>
    <% end %>
    </div>
</div>
  

<div data-role="controlgroup" data-type="horizontal">
  <%= link_to 'Add Coach to Team', new_coaches_team_path, :'data-role' => "button", :'data-icon' => "plus", :'data-inline' => "true" %>
</div>
