<h3 class="ui-bar ui-bar-a ui-corner-none"><%= @coaches_team.team.formalname %>:  <%= @coaches_team.coach.fullname %></h3>

<figure id="pictogram">
<%= image_tag("pictograms/svg/#{@coaches_team.team.sport.imageurl}.svg", alt: @coaches_team.team.sport.name, style: "height: 80px;") %>
</figure>
      
<ul data-role="listview" data-inset="true">
  <li><%= link_to @coaches_team.team.formalname, team_path(@coaches_team.team_id) %></li>
  <li><%= link_to @coaches_team.coach.fullname, coach_path(@coaches_team.coach_id) %></li>
</ul> 

<div data-role="controlgroup" data-type="horizontal" data-mini="true">
  <!--<a data-icon="back" data-role="button" class="ui-corner-all" data-rel="back">Back</a>-->
  <%= link_to 'Back to Team Coaches', coaches_teams_path, :'data-role' => "button", :'data-icon' => "back", :class => "ui-corner-all" %>
  <%= link_to 'Edit Team Coaches', edit_coaches_team_path(@coaches_team), :'data-role' => "button", :'data-icon' => "edit", :class => "ui-corner-all" %>
</div>
