<!--
<p>
  <strong>Name:</strong>
  <%#= @opponent.name %>
</p>

<p>
  <strong>Mascot:</strong>
  <%#= @opponent.mascot %>
</p>

<p>
  <strong>Homevenue:</strong>
  <%#= @opponent.homevenue %>
</p>

<p>
  <strong>Conferenceopponent:</strong>
  <%#= @opponent.conferenceopponent %>
</p>

<%#= link_to 'Edit', edit_opponent_path(@opponent) %> |
<%#= link_to 'Back', opponents_path %>
-->

<!--<h3 class="ui-bar ui-bar-a ui-corner-none">Opponent:  <%#= @opponent.name %></h3>-->
<ul data-role="listview" data-inset="true">
  <li data-role="list-divider">
    <h1><%= @opponent.name %> <%= @opponent.mascot %></h1>
    <p><%= @opponent.conferenceopponent ? "In" : "Out of" %> Conference Opponent</p>
  </li>
  <% venue = Venue.find_by(:id => @opponent.homevenue) %>
  <li><%= link_to sprintf("Home Venue:  %s", venue.name), venue_path(venue) %></li>
  </li>
</ul>
<div data-role="controlgroup" data-type="horizontal" data-mini="true">
  <a data-icon="back" data-role="button" class="ui-corner-all" data-rel="back">Back</a>
  <%= link_to 'Back to Opponents', opponents_path, :'data-role' => 'button', :'data-icon' => "back", :cllas => "ui-corner-all" %>
  <%#= link_to 'Edit', edit_opponent_path(@opponent), :'data-role' => 'button', :'data-icon' => "edit", :'data-inline' => "true" %>
</div>

