<h3 class="ui-bar ui-bar-a ui-corner-none">Import Athletes</h3>

<%= simple_form_for(:import, :url => import_athletes_path, :html => { :multipart => true, :'data-ajax' => false}, :class => 'Athlete')  do |f| %>
  <%#= f.error_notifcation %>
  <%#= render 'layouts/error_messages', object: f.object %>

  <div data-role="fieldcontain" class="field">
    <%= f.label :file, "CSV File" %>
    <%= f.file_field :file %>
    <%= f.error :file %>
</div>
  <div class="actions">
    <%= f.submit "Import Athletes" %>
  </div>
<% end %>

<div data-role="controlgroup" data-type="horizontal">
  <%= link_to 'Admin', page_path('admin'), :'data-role' => "button", :'data-icon' => "back", :'data-inline' => "true" %>
  <%= link_to 'Athlete Admin', page_path('admin/athlete'), :'data-role' => "button", :'data-icon' => "back", :'data-inline' => "true" %>
</div>
