<h3 class="ui-bar ui-bar-b ui-corner-all">Athletes</h3>

<ul data-role="listview" data-inset="true" data-filter="true" data-autodividers="true">
  <% @athletes.each do |athlete| %>
    <li><%= link_to athlete.lastcommafirst, athlete %></li>
  <% end %>
  <%#= content_tag(:li, fa_icon("check", text: "Bulleted list item")) %>
</ul>
      
<h3 class="ui-bar ui-bar-b ui-corner-all">Athlete Administration</h3>
    
<div data-role="collapsible-set" data-autodividers="true" data-mini="true">
    <% @athletes.each do |athlete| %>
<div data-role="collapsible" data-collapsed="true" data-iconpos="right">
  <h2><%= h athlete.lastcommafirst %></h2>
         <%= link_to 'Edit', edit_athlete_path(athlete), :'data-role' => 'button', :'data-icon' => 'edit', :'data-inline' => "true", :'data-mini' => "true" %>
         <%= link_to 'Delete', athlete, :'data-role' => 'button', :'data-icon' => 'delete', :'data-inline' => "true", method: :delete, data: { confirm: 'Are you sure?' }, :'data-mini' => "true" %>
</div>
    <% end %>
</div>

  
<div data-role="control-group" data-type="horizontal">
  <%= link_to 'New Athlete', new_athlete_path, :'data-role' => 'button', :'data-icon' => "plus", :'data-inline' => "true" %>
</div>
