<h3 class="ui-bar ui-bar-a">Athlete:  <%= @athlete.fullname %></h3>
<ul data-role="listview" data-inset="true">
  <li data-role="list-divider"><h1>Personal Details:</h1></li>
  <% if !@athlete.firstname.blank? %>
  <li>
    <div class="ui-grid-a">
      <div class="ui-block-a">First Name:</div>
      <div class="ui-block-b"><%= @athlete.firstname %></div>
    </div>
  </li>
  <% end %>
  <% if !@athlete.middlename.blank? %>
  <li>
    <div class="ui-grid-a">
      <div class="ui-block-a">Middle Name:</div>
      <div class="ui-block-b"><%= @athlete.middlename %></div>
    </div>
  </li>
  <% end %>
  <% if !@athlete.lastname.blank? %>
  <li>
    <div class="ui-grid-a">
      <div class="ui-block-a">Last Name:</div>
      <div class="ui-block-b"><%= @athlete.lastname %></div>
    </div>
  </li>
  <% end %>
  <% if !@athlete.nickname.blank? %>
  <li>
    <div class="ui-grid-a">
      <div class="ui-block-a">Nickname:</div>
      <div class="ui-block-b"><%= @athlete.nickname %></div>
    </div>
  </li>
  <% end %>
  <% if !@athlete.gradyear.blank? %>
  <li>
    <div class="ui-grid-a">
      <div class="ui-block-a">Graduation Year:</div>
      <div class="ui-block-b"><%= @athlete.gradyear %> / <%= @athlete.gradyear2class %></div>
    </div>
  </li>
  <% end %>
  <% if !@athlete.gender.blank? %>
  <li>
    <div class="ui-grid-a">
      <div class="ui-block-a">Gender:</div>
      <div class="ui-block-b"><%= @athlete.gender.camelize %></div>
    </div>
  </li>
  <% end %>
  <% if !@athlete.height.blank? %>
  <li>
    <div class="ui-grid-a">
      <div class="ui-block-a">Height:</div>
      <div class="ui-block-b"><%= @athlete.height2text %></div>
    </div>
  </li>
  <% end %>
  <% if !@athlete.weight.blank? %>
  <li>
    <div class="ui-grid-a">
      <div class="ui-block-a">Weight:</div>
      <div class="ui-block-b"><%= @athlete.weight %></div>
    </div>
  </li>
  <% end %>
  <% if !@athlete.dob.blank? %>
  <li>
    <div class="ui-grid-a">
      <div class="ui-block-a">Date of Birth:</div>
      <div class="ui-block-b"><%= @athlete.dob %></div>
    </div>
  </li>
  <% end %>
  <% if !@athlete.email.blank? %>
    <li><a  href="<%= sprintf("mailto:%s", @athlete.email) %>">Email Address</a><span class="ui-li-aside" data-rel="external""><%= @athlete.email %></span></li>
  <% end %>
  <% if !@athlete.twitter.blank? %>
    <li><a href="<%= sprintf("https://twitter.com/%s", @athlete.twitter.delete("@")) %>" data-rel="external">Twitter Handle</a><span class="ui-li-aside"><%= @athlete.twitter %></span></li>
  <% end %>
</ul>

<div class="ui-corner-all custom-corners">
  <div class="ui-bar ui-bar-a">
    <h3>Rosters:</h3>
  </div>
  <div class="ui-body ui-body-a">
  <% if @athlete.teams.count > 0 %>
    <ul data-role="listview" data-inset="true" data-filter="false">
      <% @athlete.teams.each do |t| %>
        <% tc = AthletesTeam.find_by(:team_id => t.id, :athlete_id => @athlete.id) %>
        <li><%= link_to(t.formalname, t) %><span class="ui-li-aside"><%= tc.captain ? "Team Captain" : "" %></span></li>
      <% end %>
    </ul>
  <% else %>
    <p>Not currently on any team roster.</p>
  <% end %>
  </div>
</div>

<% if false then %>
<div data-role="controlgroup" data-type="horizontal" data-mini="true">
  <!--<a data-icon="back" data-role="button" class="ui-corner-all" data-rel="back">Back</a>-->
  <%= link_to 'Back to Athletes', athletes_path, :'data-role' => 'button', :'data-icon' => "back", :class => "ui-corner-all" %>
  <% if current_user.try(:admin?) %>
    <%= link_to 'Edit Athlete', edit_athlete_path(@athlete), :'data-role' => 'button', :'data-icon' => "edit", :class => "ui-corner-all" %>
    <%= link_to 'Delete Athlete', @athlete, :'data-role' => 'button', :'data-icon' => 'delete', :'data-inline' => "true", method: :delete, data: { confirm: 'Are you sure?' }, :'data-mini' => "true" %>
    <%#= link_to 'Edit Teams', teams_athlete_path(@athlete), :'data-role' => 'button', :'data-icon' => "edit", :class => "ui-corner-all" %>
  <% end %>
</div>
<% end %>

<div class="ui-grid-solo">
  <div class="ui-block-a"><%= link_to 'Back to Athletes', athletes_path, :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-edit ui-mini" %></div>
</div>

<% if current_user.try(:admin?) %>
  <br />
  <div class="ui-grid-a">
    <div class="ui-block-a"><%= link_to 'Edit<br />Athlete'.html_safe, edit_athlete_path(@athlete), :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-edit ui-mini" %></div>
    <div class="ui-block-b"><%= link_to 'Delete<br />Athlete'.html_safe, @athlete, :'data-role' => 'button', :'data-icon' => 'delete', :'data-inline' => "false", method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-delete ui-mini" %></div>
  </div>
  <br />
<% end %>
