<%= simple_form_for(@sports_venue, :html => {:'data-ajax' => 'false'}) do |f| %>
  <%= f.error_notification %>
  <%= render 'layouts/error_messages', object: f.object %>

<!--
  <div class="form-inputs">
    <%#= f.input :sport_id %>
    <%#= f.input :venue_id %>
  </div>

  <div class="form-actions">
    <%#= f.button :submit %>
  </div>
-->
  <div data-role="fieldcontain" class="field">
    <%= f.label :sport_id, "Sport" %><br>
    <%= f.collection_select :sport_id, Sport.order(:name).all, :id, :name, {include_blank: true} %>
  </div>
  <div data-role="fieldcontain" class="field">
    <%= f.label :venue_id, "Venue" %><br>
    <%= f.collection_select :venue_id, Venue.order(:name).all, :id, :name, {include_blank: true} %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Save Sport to Venue" %>
  </div>

<% end %>
