<h3 class="ui-bar ui-bar-a ui-corner-none"><%= @sports_venue.sport.name %> at <%= @sports_venue.venue.name %></h3>

<figure id="pictogram">
  <%= image_tag(image_url("pictograms/svg/#{sports_venue.sport.imageurl}.svg"), alt: @sports_venue.sport.name) %>
</figure>

<ul data-role="listview" data-inset="true">
  <li><%= link_to @sports_venue.sport.name, sport_path(@sports_venue.sport_id) %></li>
  <li><%= link_to @sports_venue.venue.name, venue_path(@sports_venue.venue_id) %></li>
</ul>


<div data-role="controlgroup" data-type="horizontal">
  <%= link_to 'Back to Sports Venues', sports_venues_path, :'data-role' => "button", :'data-icon' => "back", :'data-inline' => "true" %>
  <%= link_to 'Edit Sports Venue', edit_sports_venue_path(@sports_venue), :'data-role' => "button", :'data-icon' => "edit", :'data-inline' => "true" %>
</div>
