<%= simple_form_for(@event, :html => {:'data-ajax' => 'true'}) do |f| %>
  <%= f.error_notification %>
  <%= render 'layouts/error_messages', object: f.object %>

  <div data-role="fieldcontain" class="field">
    <%= f.label :teamid, "Team" %>
    <%= f.collection_select :teamid, Team.all.sort { |a,b| a.sportname <=> b.sportname }, :id, :sportname, {include_blank: true} %>
  </div>
<!--
  <div id="single-opponent" data-role="fieldcontain" class="field">
    <%#= f.label :opponentid, "Opponent" %>
    <%#= f.collection_select :opponentid, Opponent.order(:name).all, :id, :name, {include_blank: true} %>
  </div>
-->
<!--
  <div id="multiple-opponents" class="ui-field-contain field" data-role="fieldcontain">
    <%#= f.label :opponents, "Opponents" %>
    <%#= f.collection_select :opponents, Opponent.order(:name).all, :id, :name, { :include_blank => true }, { :multiple => true, :'data-native-menu' => false, :class => 'multiselect', :'data-history' => false } %>
  </div>
-->
  <div id="multiple-opponents" data-role="fieldcontain" class="field">
    <%= f.label :opponents, "Opponents" %>
    <%= f.collection_select :opponents, Opponent.order(:name).all, :id, :name, { :include_blank => false }, { :size => 1, :multiple => true, :'data-role' => "none" } %>
  </div>
  <div data-role="fieldcontain" class="field">
    <%= f.label :venueid, "Venue" %>
    <%= f.collection_select :venueid, Venue.order(:name).all, :id, :name, {include_blank: true} %>
  </div>
  <div data-role="fieldcontain" class="field">
    <%= f.label :eventlocation, "Location" %>
    <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
      <%= f.input :eventlocation, as: :radio_buttons, :label => false, :collection => [ ['Home', 'home'], ['Away', 'away'], ['Nuetral', 'nuetral' ] ] %>
    </fieldset>
  </div>
  <div data-role="fieldcontain" class="field">
    <%= f.label :eventdate, "Event Date" %>
    <%= f.text_field :eventdate, :type => "date" %>
  </div>
  <div data-role="fieldcontain" class="field">
    <%= f.label :eventtime, "Event Time" %>
    <%= f.text_field :eventtime, :type => "time" %>
  </div>
  <div data-role="fieldcontain" class="field">
    <%= f.label :status, "Status" %>
    <fieldset data-role="controlgroup" data-type="vertical" data-mini="true">
      <%= f.input :status, as: :radio_buttons, :label => false, :collection => [ ['Scheduled', 'scheduled'], ['Rescheduled', 'rescheduled'], ['Postponed', 'postponed'], ['Canceled', 'canceled'] ] %>
    </fieldset>
  </div>
  <div data-role="fieldcontain" class="field">
    <%= f.label :eventduration, "Duration (minutes)" %>
    <%= f.text_field :eventduration, :type => "number", :value => "120" %>
  </div>
  <div data-role="fieldcontain" class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div data-role="fieldcontain" class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class="actions">
    <%= f.submit "Save Event" %>
  </div>


<% end %>
<script>
    $(document).ready(function () {
        $('#event_opponents').SumoSelect({
            placeholder: 'Select Opponents',
            csvDispCount: 2,
            floatWidth: 500
        });
    });
</script>
