<%= simple_form_for(@event, :html => {:'data-ajax' => 'false'}) do |f| %>
  <%= f.error_notification %>
  <%= render 'layouts/error_messages', object: f.object %>

  <div data-role="fieldcontain" class="field">
    <%= f.label :teamid, "Team" %>
    <%= f.collection_select :teamid, Team.order(:gender, :varsity).all, :id, :formalname, {include_blank: true} %>
  </div>
<!--
  <div id="single-opponent" data-role="fieldcontain" class="field">
    <%#= f.label :opponentid, "Opponent" %>
    <%#= f.collection_select :opponentid, Opponent.order(:name).all, :id, :name, {include_blank: true} %>
  </div>
-->
  <div id="multiple-opponents" data-role="fieldcontain" class="field">
    <%= f.label :opponents, "Opponents" %>
    <%= f.collection_select :opponents, Opponent.order(:name).all, :id, :name, { :include_blank => true }, { :multiple => true, :'data-native-menu' => false } %>
  </div>
  <div data-role="fieldcontain" class="field">
    <%= f.label :venueid, "Venue" %>
    <%= f.collection_select :venueid, Venue.order(:name).all, :id, :name, {include_blank: true} %>
  </div>
  <div data-role="fieldcontain" class="field">
    <%= f.label :eventlocation, "Location" %>
    <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
      <%= f.radio_button :eventlocation, 'home' %>
      <%= f.label :eventlocation, 'Home', :value => 'home' %>
      <%= f.radio_button :eventlocation, 'away' %>
      <%= f.label :eventlocation, 'Away', :value => 'away' %>
      <%= f.radio_button :eventlocation, 'neutral' %>
      <%= f.label :eventlocation, 'Neutral', :value => 'neutral' %>
    </fieldset>
  </div>
  <div data-role="fieldcontain" class="field">
    <%= f.label :eventdate, "Event Date" %>
    <%= f.text_field :eventdate, :type => "date" %>
  </div>
  <div data-role="fieldcontain" class="field">
    <%= f.label :eventtime, "Event Time" %>
    <%= f.text_field :eventtime, :type => "time" %>
  </div>
  <div data-role="fieldcontain" class="field">
    <%= f.label :status, "Status" %>
    <fieldset data-role="controlgroup" data-type="vertical" data-mini="true">
      <%= f.radio_button :status, 'scheduled' %>
      <%= f.label :status, 'Scheduled', :value => 'scheduled' %>
      <%= f.radio_button :status, 'rescheduled' %>
      <%= f.label :status, 'Rescheduled', :value => 'rescheduled' %>
      <%= f.radio_button :status, 'postponed' %>
      <%= f.label :status, 'Postponed', :value => 'postponed' %>
      <%= f.radio_button :status, 'canceled' %>
      <%= f.label :status, 'Canceled', :value => 'canceled' %>
    </fieldset>
  </div>
  <div data-role="fieldcontain" class="field">
    <%= f.label :eventduration, "Duration (minutes)" %>
    <%= f.text_field :eventduration, :type => "number", :value => "120" %>
  </div>
  <div data-role="fieldcontain" class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div data-role="fieldcontain" class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class="actions">
    <%= f.submit "Save Event" %>
  </div>


<% end %>
