<%= render 'event_li' %>
<h3 class="ui-bar ui-bar-a ui-corner-none">Events</h3>
<div data-role="collapsible-set" data-inset="true">
  <!--  Today -->
  <div data-role="collapsible" data-collapsed="false" data-iconpos="right" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
    <%# events = Event.where(:eventdate => Time.now.strftime("%Y-%m-%d")).order(:eventdate, :eventtime) %>
    <% events = Event.where(:eventdate => Date.today).order(:eventdate, :eventtime) %>
    <h3 class="ui-bar ui-bar-a ui-corner-none">Today<span class="ui-li-count-fix ui-li-count"><%= events.count %></span></h3>
    <% if events.count > 0 %>
    <ul data-role="listview" data-inset="true">
      <% events.each do |event| %>
<%# logger.info(event.to_yaml) %>
<%# logger.info(event.eventtitle.to_yaml) %>
<%# logger.info(event.formalname) %>
        <%= EventOverviewLI(event) %>
      <% end %>
    </ul>
    <% else %>
      <p>No events scheduled.</p>
    <% end %>
  </div>
  <!--  /Today -->
  <!--  This Week -->
  <div data-role="collapsible" data-collapsed="true" data-iconpos="right" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
    <% thisweek = Date.today.beginning_of_week(:sunday)..Date.today.end_of_week(:sunday) %>
    <% events = Event.where(eventdate: thisweek).order(:eventdate, :eventtime) %>
    <h3 class="ui-bar ui-bar-a ui-corner-none">This Week<span class="ui-li-count-fix ui-li-count"><%= events.count %></span></h3>
    <% if events.count > 0 %>
    <ul data-role="listview" data-inset="true">
      <% events.each do |event| %>
        <%= EventOverviewLI(event) %>
      <% end %>
    </ul>
    <% else %>
      <p>No events scheduled.</p>
    <% end %>
  </div>
  <!--  /This Week -->
  <!--  Next Week -->
  <div data-role="collapsible" data-collapsed="true" data-iconpos="right" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
    <% oneweekfromnow = Date.today + 7 %>
    <% nextweek = oneweekfromnow.beginning_of_week(:sunday)..oneweekfromnow.end_of_week(:sunday) %>
    <% events = Event.where(eventdate: nextweek).order(:eventdate, :eventtime) %>
    <h3 class="ui-bar ui-bar-a ui-corner-none">Next Week<span class="ui-li-count-fix ui-li-count"><%= events.count %></span></h3>
    <% if events.count > 0 %>
    <ul data-role="listview" data-inset="true">
      <% events.each do |event| %>
        <%= EventOverviewLI(event) %>
      <% end %>
    </ul>
    <% else %>
      <p>No events scheduled.</p>
    <% end %>
  </div>
  <!--  /Next Week -->
  <!--  Last Week -->
  <div data-role="collapsible" data-collapsed="true" data-iconpos="right" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
    <% oneweekago = Date.today - 7 %>
    <% lastweek = oneweekago.beginning_of_week(:sunday)..oneweekago.end_of_week(:sunday) %>
    <% events = Event.where(eventdate: lastweek).order(:eventdate, :eventtime) %>
    <h3 class="ui-bar ui-bar-a ui-corner-none">Last Week<span class="ui-li-count-fix ui-li-count"><%= events.count %></span></h3>
    <% if events.count > 0 %>
    <ul data-role="listview" data-inset="true">
      <% events.each do |event| %>
        <%= EventOverviewLI(event) %>
      <% end %>
    </ul>
    <% else %>
      <p>No events scheduled.</p>
    <% end %>
  </div>
  <!--  /Last Week -->
  <!--  Upcoming Events -->
  <div data-role="collapsible" data-collapsed="true" data-iconpos="right" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
    <% events = Event.where(['eventdate >= ?', Date.today]).order(:eventdate, :eventtime) %>
    <h3 class="ui-bar ui-bar-a ui-corner-none">Upcoming Events<span class="ui-li-count-fix ui-li-count"><%= events.count %></span></h3>
    <% if events.count > 0 %>
      <% previous = nil %>
      <ul data-role="listview" data-inset="true">
        <% events.each do |event| %>
          <% if !event.eventdate.blank? %>
            <% current = Date::strptime(event.eventdate, "%Y-%m-%d").strftime("%B %Y") %>
            <% if current != previous %>
              <li data-role="list-divider" data-theme="b"><%= current %></li>
            <% end %>
            <% previous = current %>
          <% end %>
          <%= EventOverviewLI(event) %>
        <% end %>
      </ul>
    <% else %>
      <p>No events scheduled.</p>
    <% end %>
  </div>
  <!--  /Upcoming Events -->
  <!--  Past Events -->
  <div data-role="collapsible" data-collapsed="true" data-iconpos="right" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
    <% events = Event.where(['eventdate < ?', Date.today]).order(:eventdate, :eventtime) %>
    <h3 class="ui-bar ui-bar-a ui-corner-none">Past Events<span class="ui-li-count-fix ui-li-count"><%= events.count %></span></h3>
    <% if events.count > 0 %>
      <% previous = nil %>
      <ul data-role="listview" data-inset="true">
        <% events.each do |event| %>
          <% if !event.eventdate.blank? %>
            <% current = Date::strptime(event.eventdate, "%Y-%m-%d").strftime("%B %Y") %>
            <% if current != previous %>
              <li data-role="list-divider" data-theme="b"><%= current %></li>
            <% end %>
            <% previous = current %>
          <% end %>
          <%= EventOverviewLI(event) %>
        <% end %>
      </ul>
    <% else %>
      <p>No events scheduled.</p>
    <% end %>
  </div>
  <!--  /Past Events -->
  <!-- All Events -->
  <div data-role="collapsible" data-collapsed="true" data-iconpos="right" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
    <h3 class="ui-bar ui-bar-a ui-corner-none">All Events<span class="ui-li-count-fix ui-li-count"><%= @events.count %></span></h3>

    <% if @events.count > 0 %>
      <% previous = nil %>
      <ul data-role="listview" data-inset="true">
        <% @events.each do |event| %>
          <% if !event.eventdate.blank? %>
            <% current = Date::strptime(event.eventdate, "%Y-%m-%d").strftime("%B %Y") %>
            <% if current != previous %>
              <li data-role="list-divider" data-theme="b"><%= current %></li>
            <% end %>
            <% previous = current %>
          <% end %>
          <%= EventOverviewLI(event) %>
        <% end %>
      </ul>
    <% else %>
      <p>No events scheduled.</p>
    <% end %>
  </div>
  <!-- /All Events -->
</div>
