<%
  venue = Venue.find_by(:id => @event.venueid) 
  team = @event.teamid.blank? ? nil : Team.find_by(:id => @event.teamid)
  opponent = @event.opponentid.blank? ? nil : Opponent.find_by(:id => @event.opponentid)
  result = Result.find_by(:event_id => @event.id) 

  case @event.status
    when /^(scheduled|postponed|rescheduled|canceled)$/
      status = @event.status.camelize
    else
      status = 'scheduled'.camelize
  end

  title = "title"
  subtitle = "subtitle"
  title, subtitle = @event.formalname
%>

<ul data-role="listview" data-inset="true">
  <li data-role="list-divider">
    <h3><%= title %></h3>
    <% if !subtitle.blank? %>
      <h4><%= subtitle %></h4>
    <% end %>
  </li>
  <% if !result.nil? %>
    <li>
      <h4>Result:  <%= result.resulttext[0] %></h4>
      <% if !result.notes.blank? %>
        <p><b>Notes:</b>  <%= result.notes %></p>
      <% end %>
    </li>
  <% end %>
  <% if !@event.notes.blank? %>
    <li><b>Notes:</b>  <%= @event.notes %></li>
  <% end %>
  <li data-role="list-divider">
    <% if !team.nil? %>
    <% record = team.record(false) %>
    <% if !record.blank? %>
      <p><b>Overall Record:</b>  <%= record %></p>
    <% end %>
    <% record = team.record(true) %>
    <% if !record.blank? %>
      <p><b>Conference Record:</b>  <%= record %></p>
    <% end %>
    <% end %>
    <p><b>Scheduled:</b>  <%= @event.datetimelong %></p>
    <p><b>Status:</b>  <span class="event-<%= status.downcase %>"><%= status %></span></p>
    <p><b>Duration (est):</b>  <%= distance_of_time_in_words(@event.eventduration * 60) %></p>
  </li>
</ul>
<ul data-role="listview" data-inset="true">
  <% if !team.nil? %>
  <li><%= link_to sprintf("Team:  %s", team.formalname), team_path(team) %></li>
  <% end %>
  <% if !@event.opponentid.blank? %>
    <li><%= link_to sprintf("Opponent:  %s", opponent.name), opponent_path(opponent) %><span class="ui-li-count-fix ui-li-count"><%= opponent.conferenceopponent ? "C" : "N" %></span></li>
  <% end %>
  <% if !@event.opponents.blank? && @event.opponents.count > 1 %>
    <% @event.opponents.each do |o| %>
      <% if !o.blank? %>
        <% opponent = Opponent.find_by(:id => o) %>
        <li><%= link_to sprintf("Opponent:  %s", opponent.name), opponent_path(opponent) %><span class="ui-li-count-fix ui-li-count"><%= opponent.conferenceopponent ? "C" : "N" %></span></li>
      <% end %>
    <% end %>
  <% end %>
  <li><%= link_to sprintf("Venue:  %s", venue.name), venue_path(venue) %><span class="ui-li-count-fix ui-li-count"><%= @event.eventlocation.camelize[0] %></span></li>
</ul>

<% if false then %>
<div data-role="controlgroup" data-type="horizontal" data-mini="true">
  <!--<a data-icon="back" data-role="button" class="ui-corner-all" data-rel="back">Back</a>-->
  <%= link_to 'Back to Events', events_path, :'data-role' => 'button', :'data-icon' => "back", :class => "ui-corner-all" %>
</div>
<% if current_user.try(:admin?) %>
  <div data-role="controlgroup" data-type="horizontal" data-mini="true">
    <%= link_to 'Update Event', edit_event_path(@event), :'data-role' => 'button', :'data-icon' => 'edit', :class => 'ui-corner-all' %>
    <% result = @event.getresult %>
    <% if result.nil? %>
      <%= link_to 'Report Result', new_result_path(:event_id => @event.id), :'data-role' => 'button', :'data-icon' => 'plus', :'data-inline' => 'false' %>
    <% else %>
      <%= link_to 'Update Result', edit_result_path(:event_id => @event.id, :id => result.id), :'data-role' => 'button', :'data-icon' => 'edit', :'data-inline' => 'false' %>
    <% end %>
    <%= link_to 'Add Event', new_event_path, :'data-role' => 'button', :'data-icon' => 'plus', :'data-inline' => "false" %>
    <%= link_to 'Delete Event', @event, :'data-role' => 'button', :'data-icon' => 'delete', :'data-inline' => "false", method: :delete, data: { confirm: 'Are you sure?' }, :'data-mini' => "true" %>

  </div>
<% end %>
<% end %>

<div class="ui-grid-solo">
  <div class="ui-block-a"><%= link_to 'Back to Events', events_path, :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-back" %></div>
</div>

<% if current_user.try(:admin?) %>
  <div class="ui-grid-c">
    <div class="ui-block-a"><%= link_to 'Update<br />Event'.html_safe, edit_event_path(@event), :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-edit ui-mini" %></div>
    <% result = @event.getresult %>
    <% if result.nil? %>
      <div class="ui-block-b"><%= link_to 'Report<br /> Result'.html_safe, new_result_path(:event_id => @event.id), :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-plus ui-mini" %></div>
    <% else %>
      <div class="ui-block-b"><%= link_to 'Update<br />Result'.html_safe, edit_result_path(:event_id => @event.id, :id => result.id), :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-edit ui-mini" %></div>
    <% end %>
    <div class="ui-block-c"><%= link_to 'Add<br />Event'.html_safe, new_event_path, :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-plus ui-mini" %></div>
    <div class="ui-block-d"><%= link_to 'Delete<br />Event'.html_safe, @event, :'data-role' => 'button', :'data-icon' => 'delete', :'data-inline' => "false", method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-delete ui-mini" %></div>
  </div>
<% end %>
