<!--
<%#= link_to 'Edit', edit_event_path(@event) %> |
<%#= link_to 'Back', events_path %>
-->

<% venue = Venue.find_by(:id => @event.venueid) %>
<% team = Team.find_by(:id => @event.teamid) %>
<% opponent = Opponent.find_by(:id => @event.opponentid) %>

<ul data-role="listview" data-inset="true">
  <li data-role="list-divider">
    <h1><%= team.formalname %> vs <%= opponent.name %></h1>
    <p>Scheduled:  <%= @event.datetimelong %></p>
    <p>Duration (est):  <%= distance_of_time_in_words(@event.eventduration * 60) %></p>
  </li>
  <li><%= link_to sprintf("Team:  %s", team.formalname), team_path(team) %></li>
  <li><%= link_to sprintf("Opponent:  %s", opponent.name), opponent_path(opponent) %><span class="ui-li-count-fix ui-li-count"><%= opponent.conferenceopponent ? "C" : "N" %></span></li>
  <li><%= link_to sprintf("Venue:  %s", venue.name), venue_path(venue) %><span class="ui-li-count-fix ui-li-count"><%= @event.eventlocation.camelize[0] %></span></li>
</ul>

<%# logger.info(@event.to_yaml) %>
<%# logger.info(@team.to_yaml) %>

<div data-role="controlgroup" data-type="horizontal">
  <%= link_to 'Back to Events', events_path, :'data-role' => 'button', :'data-icon' => "back", :'data-inline' => "true", :'data-mini' => "true" %>
  <%#= link_to 'Edit', edit_event_path(@event), :'data-role' => 'button', :'data-icon' => "edit", :'data-inline' => "true" %>
</div>

