<% content_for :title do %>Volunteer<% end %>
<h3 class="ui-bar ui-bar-a ui-corner-none">Volunteer</h3>
<ul data-role="listview" data-inset="true">
    <li><a rel="external" href="http://www.signupgenius.com/go/60b0f4eadab23a64-cougar">
        <img src="<%= image_path('webapp/icons/SignUpGenius-80x80.png') %>">
    <h2>Cougar Club Volunteer Opportunites</h2>
    <p>Please help by volunteering for one of the many opportunities.</p></a>
    </li>
    <li><a rel="external" href="http://www.signupgenius.com/go/60b0f4eadab23a64-concessions">
        <img src="<%= image_path('webapp/icons/SignUpGenius-80x80.png') %>">
    <h2>Football Concessions</h2>
    <p>Concessions needs your help at JV and Varsity Football games.</p></a>
    </li>
    <li><a rel="external" href="http://www.signupgenius.com/go/60b0f4eadab23a64-boys">
        <img src="<%= image_path('webapp/icons/SignUpGenius-80x80.png') %>">
    <h2>Men's Basketball Concessions</h2>
    <p>Concessions needs your help at JV and Varsity Men's Basketball games.</p></a>
    </li>
    <li><a rel="external" href="http://www.signupgenius.com/go/60b0f4eadab23a64-girls">
        <img src="<%= image_path('webapp/icons/SignUpGenius-80x80.png') %>">
    <h2>Women's Basketball Concessions</h2>
    <p>Concessions needs your help at JV and Varsity Women's Basketball games.</p></a>
    </li>
    <li><a rel="external" href="http://www.signupgenius.com/go/60b0f4eadab23a64-ahsstudent">
        <img src="<%= image_path('webapp/icons/SignUpGenius-80x80.png') %>">
    <h2>Apex HS Student Volunteer Opportunites</h2>
    <p>Please help by volunteering for one of the many opportunities.</p></a>
    </li>
</ul>
