<% content_for :title do %>Athlete Admin<% end %>
<% if current_user.try(:admin?) %>
  <div data-role="container">
    <h3 class="ui-bar ui-bar-a">Athlete Administration</h3>
    <div class="ui-grid-c">
      <div class="ui-block-a"><%= link_to 'Add<br />Athlete'.html_safe, new_athlete_path, :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-plus ui-mini" %></div>
      <div class="ui-block-b"><%= link_to 'Add Athlete<br />To Team'.html_safe, new_athletes_team_path, :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-plus ui-mini" %></div>
      <div class="ui-block-c"><%= link_to 'Edit Athlete<br />on Team'.html_safe, athletes_teams_path, :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-edit ui-mini" %></div>
      <div class="ui-block-d"><%= link_to 'Import<br />Athletes'.html_safe, import_athletes_path, :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-plus ui-mini" %></div>
    </div>

    <!--  List of Existing Athletes -->
    <h3 class="ui-bar ui-bar-a ui-corner-none">Athletes</h3>
    <ul data-role="listview" data-count-theme="a" data-inset="true" data-filter="true" data-autodividers="true">
      <% @athletes = Athlete.all.order(:lastname, :firstname) %>
      <% @athletes.each do |athlete| %>
        <li><%= link_to sprintf("%s<span class=\"ui-li-count\">%s</span>", athlete.lastcommafirst, athlete.teams.count).html_safe, athlete %><%= link_to 'Edit', edit_athlete_path(athlete), :'data-icon' => 'edit' %></li>
      <% end %>
    </ul>
    <!--  /List of Existing Athletes -->
  </div>
<% else %>
  <div data-role="container">
    <h2 class="ui-bar ui-bar-a ui-icon-forbidden ui-btn-icon-left">Not allowed.</h2>
  </div>
<% end %>
