<% content_for :title do %>Coach Admin<% end %>
<% if current_user.try(:admin?) %>
  <div data-role="container">
    <h3 class="ui-bar ui-bar-a">Coach Administration</h3>
    <div class="ui-grid-c">
      <div class="ui-block-a"><%= link_to 'Add<br />Coach'.html_safe, new_coach_path, :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-plus ui-mini" %></div>
      <div class="ui-block-b"><%= link_to 'Add Coach<br />To Team'.html_safe, new_coaches_team_path, :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-plus ui-mini" %></div>
      <div class="ui-block-c"><%= link_to 'Edit Coach<br />on Team'.html_safe, coaches_teams_path, :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-edit ui-mini" %></div>
      <div class="ui-block-d"><%= link_to 'Import<br />Coaches'.html_safe, import_coaches_path, :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-plus ui-mini" %></div>
    </div>
    <!-- List of Existing Coaches -->
    <h3 class="ui-bar ui-bar-a ui-corner-none">Coaches</h3>
    <ul data-role="listview" data-count-theme="a" data-inset="true" data-filter="true" data-autodividers="true">
      <% @coaches = Coach.all.order(:lastname, :firstname) %>
      <% @coaches.each do |coach| %>
        <li><%= link_to sprintf("%s<span class=\"ui-li-count\">%s</span>", coach.lastcommafirst, coach.teams.count).html_safe, coach %><%= link_to 'Edit', edit_coach_path(coach), :'data-icon' => 'edit' %></li>
      <% end %>
    </ul>
    <!-- /List of Existing Coaches -->
    <br />
  </div>
<% else %>
  <div data-role="container">
    <h2 class="ui-bar ui-bar-a ui-icon-forbidden ui-btn-icon-left">Not allowed.</h2>
  </div>
<% end %>
