<% content_for :title do %>Event Admin<% end %>
<% if current_user.try(:admin?) %>
  <div data-role="container">
    <h3 class="ui-bar ui-bar-a">Event Administration</h3>
    <div data-role="controlgroup" data-type="vertical">
      <%= link_to 'Add Event', new_event_path, :'data-role' => 'button', :'data-icon' => 'plus', :'data-inline' => "false" %>
      <%#= link_to 'Add Sport to Event', new_sports_event_path, :'data-role' => 'button', :'data-icon' => 'plus', :'data-inline' => "false" %>
    </div>
    <!--  List of Existing Events -->
    <div data-role="collapsible-set" data-mini="true">
      <h4 class="ui-bar ui-bar-a ui-corner-none">Existing Events</h4>
      <% @events = Event.all.order(:eventdate) %>
      <% @events.each do |event| %>
        <% team = Team.find_by(:id => event.teamid) %>
        <% opponent = Opponent.find_by(:id => event.opponentid) %>
        <div data-role="collapsible" data-iconpos="right" data-collapsed="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-autodividers="true" data-mini="true">

          <h2><%= h event.datetimeshort %>: <%= h team.formalname %> vs <%= opponent.name %></h2>
          <%= link_to 'Show', event_path(event), :'data-role' => 'button', :'data-icon' => 'eye', :'data-inline' => "true", :'data-mini' => "true" %>
          <%= link_to 'Edit', edit_event_path(event), :'data-role' => 'button', :'data-icon' => 'edit', :'data-inline' => "true", :'data-mini' => "true" %>
          <%= link_to 'Delete', event, :'data-role' => 'button', :'data-icon' => 'delete', :'data-inline' => "true", method: :delete, data: { confirm: 'Are you sure?' }, :'data-mini' => "true" %>
        </div>
      <% end %>
    </div>
    <!--  /List of Existing Events -->
  </div>
<% else %>
  <div data-role="container">
    <h2 class="ui-bar ui-bar-a ui-icon-forbidden ui-btn-icon-left">Not allowed.</h2>
  </div>
<% end %>
