<% content_for :title do %>Opponent Admin<% end %>
<% if current_user.try(:admin?) %>
  <div data-role="container">
    <h3 class="ui-bar ui-bar-a">Opponent Administration</h3>
    <div data-role="controlgroup" data-type="vertical">
      <%= link_to 'Add Opponent', new_opponent_path, :'data-role' => 'button', :'data-icon' => 'plus', :'data-inline' => "false" %>
    </div>
    <!--  List of Existing Opponents -->
    <div data-role="collapsible-set" data-mini="true">
      <h4 class="ui-bar ui-bar-a ui-corner-none">Existing Opponents</h4>
      <% @opponents = Opponent.all.order(:name) %>
      <% @opponents.each do |opponent| %>
        <div data-role="collapsible" data-iconpos="right" data-collapsed="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-autodividers="true" data-mini="true">

          <h2><%= h opponent.name %></h2>
          <%= link_to 'Show', opponent, :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-eye ui-mini ui-btn-inline" %>
          <%= link_to 'Edit', edit_opponent_path(opponent), :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-edit ui-mini ui-btn-inline" %>
          <%= link_to 'Delete', opponent, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-delete ui-mini ui-btn-inline" %>
        </div>
      <% end %>
    </div>
    <!--  /List of Existing Opponents -->
  </div>
<% else %>
  <div data-role="container">
    <h2 class="ui-bar ui-bar-a ui-icon-forbidden ui-btn-icon-left">Not allowed.</h2>
  </div>
<% end %>
