<% content_for :title do %>Teams Admin<% end %>
<% if current_user.try(:admin?) %>
  <div data-role="container">
    <h3 class="ui-bar ui-bar-a">Team Administration</h3>
    <div class="ui-grid-b">
      <div class="ui-block-a"><%= link_to 'Add<br />Team'.html_safe, new_team_path, :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-plus ui-mini" %></div>
      <div class="ui-block-b"><%= link_to 'Add Coach<br />to Team'.html_safe, new_coaches_team_path, :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-plus ui-mini" %></div>
      <div class="ui-block-c"><%= link_to 'Add Athlete<br />to Team'.html_safe, new_athletes_team_path, :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-plus ui-mini" %></div>
    </div>
    <div class="ui-grid-b">
      <div class="ui-block-a"><%= link_to 'Edit Coach<br />on Team'.html_safe, coaches_teams_path, :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-edit ui-mini" %></div>
      <div class="ui-block-b"><%= link_to 'Edit Athlete<br />on Team'.html_safe, athletes_teams_path, :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-edit ui-mini" %></div>
      <div class="ui-block-c"><%= link_to 'Import<br />Team'.html_safe, import_athletes_teams_path, :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-plus ui-mini" %></div>
    </div>


<!--  Disable listing of teams, to be deleted later -->
<% if false then %>
    <!--  List of Existing Teams -->
    <div data-role="collapsible-set">
      <h4 class="ui-bar ui-bar-a ui-corner-none">Existing Teams</h4>
      <!--<div data-role="list-divider">Teams</div>-->

      <% @teams = Team.all.order(:gender, :varsity) %>
      <% @teams.each do |team| %>
        <div data-role="collapsible" data-iconpos="right" data-collapsed="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-autodividers="true" data-mini="true">
          <h2><%= h team.formalname %></h2>
          <%= link_to 'Show', team, :'data-role' => 'button', :'data-icon' => 'info', :'data-inline' => "true", :'data-mini' => "true" %>
          <%= link_to 'Edit', edit_team_path(team), :'data-role' => 'button', :'data-icon' => 'edit', :'data-inline' => "true", :'data-mini' => "true" %>
          <%= link_to 'Delete', team, :'data-role' => 'button', :'data-icon' => 'delete', :'data-inline' => "true", method: :delete, data: { confirm: 'Are you sure?' }, :'data-mini' => "true" %>
        </div>
      <% end %>
    </div>
    <!--  /List of Existing Teams -->
<% end %>
<!--  /Disable listing of teams, to be deleted later -->
  </div>
<% seasons = { 'fall' => "fall icon", 'winter' => 'winter icon', 'spring' => 'spring icon' } %>
<div data-role="collapsible-set" data-inset="true">
  <% seasons.each do |key, value| %>
    <div data-role="collapsible" data-collapsed="true" data-iconpos="right" data-inset="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
      <% @teams = Team.where(:season => key).sort { |a,b| a.sportname <=> b.sportname } %>
      <h3 class="collapsible-fix"><%= key.camelize %> Sports<span class="ui-li-count-fix ui-li-count"><%= @teams.count %></span></h3>
      <% if @teams.count > 0 %>
      <ul data-role="listview" data-inset="true" data-filter="false">
        <% @teams.each do |team| %>
        <div data-role="collapsible" data-iconpos="right" data-collapsed="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-autodividers="true" data-mini="true">
          <h2><%= h team.formalname %></h2>
          <%= link_to 'Show', team, :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-eye ui-mini ui-btn-inline"%>
          <%= link_to 'Edit', edit_team_path(team), :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-edit ui-mini ui-btn-inline"%>
          <%= link_to 'Delete', team, :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-delete ui-mini ui-btn-inline"%>
        </div>
        <% end %>
      </ul>
      <% else %>
        <p>No teams for <%= key.camelize %> season.</p>
      <% end %>
    </div>
  <% end %>

<% else %>
  <div data-role="container">
    <h2 class="ui-bar ui-bar-a ui-icon-forbidden ui-btn-icon-left">Not allowed.</h2>
  </div>
<% end %>
