<%= simple_form_for(@athletes_team) do |f| %>
  <%= f.error_notification %>

<!--
  <div class="form-inputs">
    <%#= f.input :athlete_id %>
    <%#= f.input :team_id %>
    <%#= f.input :captain %>
    <%#= f.input :jerseynumber %>
    <%#= f.input :position %>
  </div>

  <div class="form-actions">
    <%#= f.button :submit %>
  </div>
-->
  <div data-role="fieldcontain" class="field">
    <%= f.label :team_id, "Team" %>
    <%= f.collection_select :team_id, Team.all, :id, :formalname %>
  </div>
  <div data-role="fieldcontain" class="field">
    <%= f.label :athlete_id, "Athlete" %>
    <%= f.collection_select :athlete_id, Athlete.all.order(:lastname, :firstname), :id, :lastcommafirst%>
  </div>
  <div data-role="fieldcontain" class="field">
    <%= f.label :captain %>
    <%= f.check_box :captain %>
  </div>
  <div data-role="fieldcontain" class="field">
    <%= f.label :jerseynumber, "Jersey Number" %>
    <%= f.text_field :jerseynumber %>
  </div>
  <div data-role="fieldcontain" class="field">
    <%= f.label :position, "Position(s)" %>
    <%= f.text_field :position %>
  </div>
  <div class="actions">
    <%= f.submit "Save Team Athlete" %>
  </div>

<% end %>
