<h3 class="ui-bar ui-bar-b ui-corner-all">Team Athletes</h3>

<div data-role="collapsible-set" data-autodividers="true" data-mini="true" data-collapsed-icon="carat-r" data-expanded-icon="carat-d">
    <% tid = nil %>
    <% @athletes_teams.each do |at| %>
      <% if !tid.nil? && tid != at.team.id %>
          </div>
        </div>
      <% end %>
      <% if tid != at.team.id %>
        <div data-role="collapsible" data-mini="true" data-inset="true">
          <h3><%= at.team.formalname %></h3>
          <div data-role="collapsible-set" data-mini="true" data-collapsed-icon="carat-r" data-expanded-icon="carat-d">
      <% end %> 
      <div data-role="collapsible" data-collapsed="true" data-inset="true">
        <h1><%= at.athlete.fullname %></h1>
        <div data-role="controlgroup" data-type="horizontal" data-mini="true">
          <%= link_to 'Show', at, :'data-role' => 'button', :'data-icon' => "eye" %>
          <%= link_to 'Edit', edit_athletes_team_path(at), :'data-role' => "button", :'data-icon' => "edit" %>
          <%= link_to 'Destroy', at, method: :delete, data: { confirm: 'Are you sure?' }, :'data-role' => "button", :'data-icon' => "delete" %>
        </div>
      </div>
      <% tid = at.team.id %>
    <% end %>
    </div>
</div>
    
    
<div data-role="control-group" data-type="horizontal">
  <%= link_to 'New Team Athletes', new_athletes_team_path, :'data-role' => "button", :'data-icon' => "plus", :'data-inline' => "true" %>
</div>
