<h3 class="ui-bar ui-bar-a ui-corner-none"><%= @athletes_team.team.formalname %>:  <%= @athletes_team.athlete.fullname %></h3>
    
<figure id="pictogram">
<%= image_tag("pictograms/svg/#{@athletes_team.team.sport.imageurl}.svg", alt: @athletes_team.team.sport.name, style: "height: 80px;") %>
</figure>
          
<ul data-role="listview" data-inset="true">
  <li data-role="list-divider">Profile</li>
  <%if @athletes_team.captain %>
    <li>Team Captain</li>
  <% end %>
  <li>
    <div class="ui-grid-a">
      <div class="ui-block-a">Jersey Number:</div>
      <div class="ui-block-b"><%= @athletes_team.jerseynumber %>
    </div>
  </li>
  <li>
    <div class="ui-grid-a">
      <div class="ui-block-a">Position(s):</div>
      <div class="ui-block-b"><%= @athletes_team.position %>
    </div>
  </li>
  <li>
    <div class="ui-grid-a">
      <div class="ui-block-a">Graduation Year:</div>
      <div class="ui-block-b"><%= @athletes_team.athlete.gradyear %>
    </div>
  </li>
  <li><%= link_to @athletes_team.team.formalname, team_path(@athletes_team.team_id) %></li>
  <li><%= link_to @athletes_team.athlete.fullname, athlete_path(@athletes_team.athlete_id) %></li>
</ul>

<div data-role="controlgroup" data-type="horizontal" data-mini="true">
  <a data-icon="back" data-role="button" class="ui-corner-all" data-rel="back">Back</a>
  <%= link_to 'Back to Team Athletes', athletes_teams_path, :'data-role' => "button", :'data-icon' => "back", :class => "ui-corner-all" %>
  <% if current_user.try(:admin?) %>
    <%= link_to 'Edit Team Athlete', edit_athletes_team_path(@athletes_team), :'data-role' => "button", :'data-icon' => "edit", :class => "ui-corner-all" %>
  <% end %>
</div>
