<!--  Start Footer  -->
<div data-role="footer" data-id="footer" data-position="fixed" data-mini="true">
  <div data-role="navbar" data-inline="true" data-mini="true" data-corners="false">
    <ul>
      <!--<li><%#= link_to 'News', page_path('news'), :'data-role' => "button", :'data-icon' => 'info', :'data-transition' => 'flip', :'data-ajax' => 'false' %></li>-->
      <li><%= link_to 'News', page_path('news'), :'data-role' => "button", :'data-icon' => 'info', :'rel' => 'external' %></li>
      <li><%= link_to 'Events', events_path, :'data-role' => "button", :'data-icon' => 'calendar', :'data-transition' => 'flip' %></li>
      <li><%= link_to 'Volunteer', page_path('volunteer'), :'data-role' => "button", :'data-icon' => 'user', :'data-transition' => 'flip' %></li>
      <!--<li><%#= link_to 'Sports', sports_path, :'data-role' => "button", :'data-icon' => 'user', :'data-transition' => 'flip' %></li>-->
      <li><%= link_to 'Teams', teams_path, :'data-role' => "button", :'data-icon' => 'user', :'data-transition' => 'flip' %></li>
      <li><%= link_to 'Athletes', athletes_path, :'data-role' => "button", :'data-icon' => 'user', :'data-transition' => 'flip' %></li>
    </ul>
  </div>
  <div id="banner-content">
    <% banner = ACCMobileWebApp::Application::BANNERADS.sample %>
    <a href="<%= banner[:url] %>" alt="<%= banner[:name] %>"><img src="<%= image_url(banner[:img]) %>"></a>
  </div>
</div>

<!--  End of Footer  -->
