<!--  Start Footer  -->
<div data-role="footer" data-id="footer" data-position="fixed" data-mini="true">
  <div data-role="navbar" data-inline="true" data-mini="true" data-corners="false">
    <ul>
      <!--<li><a data-role="button" data-rel="back" data-icon="back">Back</a></li>-->
      <li><%= link_to 'News', page_path('news'), :'data-role' => "button", :'data-icon' => 'info', :'data-transition' => 'flip' %></li>
      <li><%= link_to 'Events', events_path, :'data-role' => "button", :'data-icon' => 'calendar', :'data-transition' => 'flip' %></li>
      <li><%= link_to 'Volunteer', page_path('volunteer'), :'data-role' => "button", :'data-icon' => 'user', :'data-transition' => 'flip' %></li>
      <!--<li><%#= link_to 'Sports', sports_path, :'data-role' => "button", :'data-icon' => 'user', :'data-transition' => 'flip' %></li>-->
      <li><%= link_to 'Teams', teams_path, :'data-role' => "button", :'data-icon' => 'user', :'data-transition' => 'flip' %></li>
      <li><%= link_to 'Athletes', athletes_path, :'data-role' => "button", :'data-icon' => 'user', :'data-transition' => 'flip' %></li>
    </ul>
  </div>
    <% if Settings.AppSettings.BannerAds == :On && Ad.where(:adtype => 'banner', :active => true).count > 0 %>
    <div id="banner-content">
      <% bannerads = Ad.where(:adtype => 'banner', :active => true).pluck(:id) %>
      <% bannerad = Ad.find(bannerads.sample) %>
      <a href="<%= bannerad[:clickurl] %>" target="_blank" alt="<%= bannerad[:name] %>"><img src="<%= image_url(bannerad[:imageurl]) %>"></a>
    </div>
  <% end %>
</div>

<!--  End of Footer  -->
