  <div data-role="panel" id="menu" data-display="overlay" data-position="right">
    <ul data-role="listview" data-inset="true" data-corners="true">
      <li><a href="/" data-role="button" data-icon="home" data-iconpos="left">Home</a></li>
      <li><a href="#" data-role="button" data-icon="calendar" data-transition="slide">Events</a></li>
      <li><%= link_to 'Volunteer', page_path('volunteer'), :'data-role' => "button", :'data-icon' => "user" %></li>
<!--
      <li><%#= link_to 'Sports', sports_path, :'data-icon' => 'info', :'data-transition' => 'slide' %></li>
-->
      <li><%= link_to 'Teams', teams_path, :'data-role' => "button", :'data-icon' => 'info', :'data-transition' => 'slide' %></li>
      <li><%= link_to 'Athletes', athletes_path, :'data-role' => "button", :'data-icon' => 'user', :'data-transition' => 'slide' %></li>
      <li><%= link_to 'Coaches', coaches_path, :'data-role' => "button", :'data-icon' => 'user', :'data-transition' => 'slide' %></li>
      <li><%= link_to 'Sports', sports_path, :'data-role' => "button", :'data-icon' => 'info', :'data-transition' => 'slide' %></li>
      <li><%= link_to 'Venues', venues_path, :'data-role' => "button", :'data-icon' => 'location', :'data-transition' => 'slide' %></li>
      <li><%= link_to 'About', page_path('about'), :'data-role' => "button", :'data-icon' => "info" %></li>

      <li data-role="list-divider">Access</li>
      <% if user_signed_in? %>
        <!-- Logged in as <strong><%#= current_user.email %></strong>.-->
        <li><%= link_to 'Profile', edit_user_registration_path, :'data-role' => "button", :'data-icon' => "edit" %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :'data-role' => "button", :'data-icon' => "user" %></li>
      <% else %>
        <li><%= link_to "Login", new_user_session_path, :'data-role' => "button", :'data-icon' => "user" %></li>
        <li><%= link_to "Sign Up", new_user_registration_path, :'data-role' => "button", :'data-icon' => "user" %></li>
      <% end %>
      <!--  /Devise -->



  <% if current_user.try(:admin?) %>
    <li data-role="list-divider">Admin</li>
    <li><%= link_to 'Admin Home', page_path('admin'), :'data-role' => "button", :'data-icon' => "gear", :'data-iconpos' => "left" %></li>

    <li><a href="#" data-role="button" data-icon="calendar">Event</a></li>
    <li><%= link_to 'Team', page_path('admin/team'), :'data-role' => "button", :'data-icon' => "grid" %></li>
    <li><%= link_to 'Coach', page_path('admin/coach'), :'data-role' => "button", :'data-icon' => "user" %></li>
    <li><%= link_to 'Athlete', page_path('admin/athlete'), :'data-role' => "button", :'data-icon' => "user" %></li>
    <li><%= link_to 'Venue', page_path('admin/venue'), :'data-role' => "button", :'data-icon' => "location" %></li>
    <li><%= link_to 'Sport', page_path('admin/sport'), :'data-role' => "button", :'data-icon' => "user" %></li>
    <li><%= link_to 'Opponent', page_path('admin/opponent'), :'data-role' => "button", :'data-icon' => "location" %></li>
  <% end %>
    </ul>
  </div>
