<!DOCTYPE html>
<html>
<head>
  <title><%= Settings.Header.AppName %></title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%#= stylesheet_link_tag    'sumoselect' %>
  <%#= javascript_include_tag 'jquery.sumoselect.min' %>
  <%= csrf_meta_tags %>
  <!--  Meta Tags to allow app to run as a mobile web app on IOS and Android -->
  <%= render :partial => 'layouts/ios' %>
  <%= render :partial => 'layouts/android' %>
  <!--  /Meta Tags to allow app to run as a mobile web app on IOS and Android -->
<script type="text/javascript">
addToHomescreen({
    startDelay: 5,
    skipFirstVisit: false,
    maxDisplayCount: 3
});

//  Save current page to local storage
$('a').on('click', function(){          
    localStorage.currentURL = this.href
});

//  If app reload, try and return to prior page
if (localStorage.currentURL && location.currentURL != location.href) {
    location.href = localStorage.currentURL;
}
</script>
</head>
<body class='<%= controller.controller_name %>'>
  <!--<div data-role="page" data-add-back-btn="true">-->
  <div data-role="page" data-dom-cache="false" data-ajax="true">
    <!-- "header" -->
    <%= render :partial => 'layouts/header' %>
    <!-- "header" -->

    <div data-role="content" class="ui-content ui-body ui-corner-all">
      <%= render :partial => 'layouts/messages' %>
      <%= yield %>
    </div>

    <!-- "footer" -->
    <%= render :partial => 'layouts/footer' %>
    <!-- "footer" -->
  </div>
</body>
</html>
