<!DOCTYPE html>
<html>
<head>
  <title><%= Settings.Header.AppName %></title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!--  Meta Tags to allow app to run as a mobile web app on IOS -->
  <%= render :partial => 'layouts/ios' %>
  <!--  /Meta Tags to allow app to run as a mobile web app on IOS -->

</head>
<body class='<%= controller.controller_name %>'>
  <!--<div data-role="page" data-add-back-btn="true">-->
  <div data-role="page" id="home">
    <!-- "header" -->
    <%= render :partial => 'layouts/header' %>
    <!-- "header" -->

    <%#= render :partial => 'layouts/navigation_links' %>

    <div data-role="content" class="ui-content ui-body ui-corner-all">
      <%= render :partial => 'layouts/messages' %>
      <%= yield %>
    </div>

    <!-- "footer" -->
    <%= render :partial => 'layouts/footer' %>
    <!-- "footer" -->
  </div>
</body>
</html>
